Package: com.c0dine
Name: RamSpoof
Architecture: iphoneos-arm
Description: Spoof your ram
Maintainer: c0dine <c0dineDev@gmail.com>
Author: c0dine <c0dineDev@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-2+debug
Installed-Size: 200
